.formInput {
  max-width: 100%;
  display: block;
  border-radius: .6rem;
  height: 6rem;
  border: 1px solid #333;
  font-size: 1.6rem;
  margin: 0.75rem 1.5rem;
  padding: 0 1.938rem;
  padding-top: 1.313rem;
  padding-bottom: 1.25rem;

  &::placeholder {
    color: #132743;
    opacity: 0.5;
  }
}

.formInput-full {
  width: 54rem;
}

.formInput-half {
  width: 25.5rem;
}